@mixin number-size($font-size, $line-height, $margin-right, $width, $height) {
	font-size: $font-size;
	line-height: $line-height;
	margin-right: $margin-right;
	width: $width;
	height: $height;
}