.about{
	font-family: 'GenJyuuGothicX-Bold','cwTeXYen',$font-family-base;
	max-width: 960px;
	margin:0 auto;
	text-align: center;
	color: $colorMainFirst-light;
	font-size:1.8em;
	padding: 40px 4%;
	b{
		color:$colorMainSecond;
	}

}