.agenda {
    padding: 0 4%;
    margin-top: 15vh;
    ::selection{
        background-color:$colorMainSecond;
        color: #fff;
    }
}

.agenda-panel {
    padding: 30px 0;
    box-shadow: 0 0 10px 0 rgba(42, 22, 144, 0.8);
    &:before {
        background: $colorMainThird;
    }
}

.agendaContent {
    margin-top: 60px;
    padding: 5px 4%;
    li {
        padding: 5px 0;
    }
}

.issueTopic {
    color: $colorMainFirst;
    &:before {
        content: '';
        background: $colorMainThird;
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
        box-shadow: 0 0 10px 0 rgba(255, 80, 150, 0.8);
    }
}

.issueSpeak {
    span{
        padding:2px 5px;
        &:first-child{
            border: 1px solid  $colorMainThird;
            color: $colorMainThird;
        }
        &:last-child{
            border: 1px solid  $colorMainThird;
            background:  $colorMainThird;
            color: #fff;
        }
    }
}
