.coorganizer {
    background: $colorMainSecond;
    position: relative;
    z-index: 1;
    padding: 10vh 4%;
}

.coorganizer-panel {
    margin: 60px auto;
    padding: 30px 0;
    box-shadow: 0 0 10px 0 rgba(32, 255, 176, 0.8);
    &:before {
        background: $colorMainThird;
    }
}
