.coorganizer {
    background: $colorSubFirst;
    position: relative;
    z-index: 1;
    padding: 8vh 4%;
}

.coorganizer-panel {
    margin: 60px auto;
    padding: 30px 0;
    box-shadow: 0 0 10px 0 rgba(255, 223, 60, 0.8);
    &:before {
        background: $colorMainFouth;
    }
}
