.detail {
    background: $colorMainThird;
    position: relative;
    z-index: 1;
    padding: 60px 4%;
}

.detail-panel {
    background-color: #f3f3f3;
    margin: 60px auto;
    overflow: hidden;
    padding: 15px 0 0;
    box-shadow: 0 0 10px 0 rgba(255, 223, 60, 0.8);
    &:before {
        background: $colorMainSecond;
    }
}

.detailContent {
    padding: 0 2%;
    margin-bottom: -10px;
    color: $colorMainFirst !important;
    li {
        padding-bottom: 10px;
    }
    &>li {
        border-bottom: 1px dotted $colorGray;
        &:last-child {
            border-bottom: none;
        }
    }
    h4 {
        line-height: 1.4;
    }
    .title {
        color: $colorMainThird;
    }
    a.info {
        margin-bottom: 15px;
        font-size: $font-small;
        i {
            color: $colorMainThird;
        }
    }
    .title,
    .text,
    .info {
        padding: 0 4%;
    }
    .tag {
        font-size: 12px;
        font-weight: 100;
        background: $colorMainThird;
        color: #fff;
        padding: 0 2px;
        vertical-align: text-top;
    }
}

ul.detailContent_list {
    padding: 5px 0 5px 30px;
    text-align: justify;
    li {
        position: relative;
    }
    li:before {
        content: '';
        background: $colorMainThird;
        width: 12px;
        height: 12px;
        position: absolute;
        border-radius: 50%;
        left: -20px;
        top: 3px;
        box-shadow: 0 0 10px 0 rgba(255, 80, 150, 0.8);
    }
}

.detailMap {
    padding: 0;
    margin-bottom: -5px;
    border-left: 1px solid $colorMainThird;
    @include mobile() {
        display: none;
    }
}
