.detail {
    background: $colorMainThird;
    color: $colorMainFirst;
    position: relative;
    z-index: 1;
    padding: 10vh 4%;
}

.detail-panel {
    background-color: #f3f3f3;
    margin: 60px auto;
    overflow: hidden;
    padding: 15px 0 0;
    box-shadow: 0 0 10px 0 rgba(255, 223, 60, 0.8);
    &:before {
        background: $colorMainSecond;
    }
    h4 {
        line-height: 1.4;
    }
    .title {
        color: $colorMainThird;
    }
    a.info {
        margin-bottom: 15px;
        font-size: $font-small;
        i {
            color: $colorMainThird;
        }
    }
    .title,
    .text,
    .info {
        padding: 0 4%;
    }
    .tag {
        font-size: 12px;
        font-weight: 100;
        background: $colorMainThird;
        color: #fff;
        padding: 0 2px;
        vertical-align: text-top;
    }
}

.detailContent {
    padding: 0 2%;
    margin-bottom: -10px;
    li {
        padding-bottom: 10px;
    }
    &>li {
        border-bottom: 1px dotted $colorGray;
        &:last-child {
            border-bottom: none;
        }
    }
}

ul.detailContent_list {
    padding: 5px 0 5px 30px;
    text-align: justify;
    li {
        position: relative;
    }
    li:before {
        content: '';
        background: $colorMainThird;
        width: 12px;
        height: 12px;
        position: absolute;
        border-radius: 50%;
        left: -20px;
        top: 3px;
        box-shadow: 0 0 10px 0 rgba(255, 80, 150, 0.8);
    }
}

.detailplace {
    padding: 0;
    border-left: 1px solid $colorMainThird;
    @include pad () {
        border-top: 1px dotted $colorGray;
        border-left: none;
    }
    @include pad-below () {
        border-left: none;
    }
    @include mobile () {

        border-top: 1px solid $colorGray-light;
        border-left: none;
    }
}

.detailplace_tab {
    li {
        background-color: $colorGray-light;
        width: 50%;
        float: left;
        cursor: pointer;
        &.is-active,
        &:focus,
        &:active,
        &:active:focus {
            background-color: #f3f3f3;
        }
    }
}

.placeMap {
    @include mobile() {}
}

.insideInfo {
    padding: 0 4% 10px;
    height: 710px;
    overflow: auto;
    width: 100%;
    .text {
        padding: 0;
    }
    @include pad () {
        height: inherit;
    }
    @include pad-below () {
        height: inherit;
    }
    @include mobile () {
        height: inherit;
    }
}
