.header {
    padding: 60px 4%;
    position: relative;
    z-index: 1;
    @include mobile() {
        padding: 60px 10%;
    }
}

.header_mainVisual {
    max-width: 960px;
    margin: auto;
    .mainVisualPic {
        background-image: url(/images/header/header-L.png);
        @include mobile() {
            background-image: url(/images/header/header-M.png);
        }
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        &:before {
            width: 100%;
            padding-top: 56.25%;
            content: '';
            display: block;
            @include mobile() {
                padding-top: 75%;
            }
        }
    }
}
