.liveBroadcast {
    position: relative;
    background-color: $colorGradientFirst;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liveBroadcastContent {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10vh 4%;
}

.about {
    font-family: 'GenJyuuGothicX-Medium', 'cwTeXYen', $font-family-base;
    color: $colorMainFirst-light;
    margin-bottom: 80px;
    font-size: 1.8em;
    @include mobile() {
        font-size: 1.6em;
    }
    b {
        color: $colorMainSecond;
    }
    span.br {
        @include pad-below () {
            display: block;
        }
        @include mobile() {
            display: block;
        }
    }
    img{
        margin-bottom: 25px;
    }
}

.qAndA {
    color: $colorMainFirst-light;
}

.qAndAContent {
    float: none;
    margin: auto;
    margin-top: 30px;
    font-size: $font-larger;
    text-align: justify;
    padding-left: 2em;
}

.qAndAContent_Q {
    position: relative;
    &:before {
        content: 'Q : ';
        left: -1.8em;
        position: absolute;
    }
}

.qAndAContent_A {
    position: relative;
    &:before {
        content: 'A :';
        left: -1.8em;
        position: absolute;
    }
}

iframe.kktix {
    padding-top: 10px;
    @include pad-below () {
        padding-top: 20px;
        height: 480px;
    }
    @include mobile() {
        padding-top: 20px;
        height: 480px;
    }
}
