.liveBroadcast {
    position: relative;
    background-color: $colorGradientFirst;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liveBroadcastContent {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 4%;
}
