.liveBroadcast {
    position: relative;
    background-color: $colorGradientFirst;
    height: 70vh;
    // background-color: rgba(8, 205, 134, .6)
    // background-color: rgba(57, 0, 108, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
