section.agenda
	.panel.agenda-panel
		.tab.primaryDeco 
			.tab_h1 議程
			.tab_sub Agenda
		ul.agendaContent
			li
				.issueTime  08:30
				h4.issueTopic 開放入場
			li
				.issueTime  08:50
				h4.issueTopic 開幕
			li
				.issueTime 09:10
				h4.issueTopic 十年一覺前端夢
					span.issueMore
						i.fa.fa-angle-up
				.issueDetail
					.issueSpeak
						span 講者
						span Lock Chou
					.issueTopicIntro
						| 十年之前，我不認識「前端」；十年以來，「前端」已經在網站開發領域足輕重。
						| 一直以來，我們都熱愛在彈指間舞動程式，玩轉像素，渴望觸及世界彼端萬千使用者，提供他們更流暢的操作經驗。
						| 這份工作的職稱之多：網頁設計師、軟體工程師、前端（Front-end）還全端工程師（Fullstack），讓人目不暇給。
						| 這個議程會從「前端」這個名詞的崛起時空談起，兼論技能樹的演化，乃探討『為什麼我們找不到前端工程師』這篇頗受歡迎的翻譯文章：在目眩神迷技術與名詞中回看本質，找出適者之道。
			li
				.issueTime  10:00
				h4.issueTopic 休息
			li
				.issueTime 10:10
				h4.issueTopic 用 RxJS 寫出可讀的程式碼
					span.issueMore
						i.fa.fa-angle-up
				.issueDetail
					.issueSpeak
						span 講者
						span Jerry Hong
					.issueTopicIntro
						| 在網頁需求越來越複雜的今天，非同步行為一直是前端工程師要面臨的挑，不只是程式邏輯變得複雜、可讀性變低，還有不同 API 帶來的痛苦。
						| RxJS提供了一套完整的非同步解決方案，讓我們在面對各種非同步行為，不管是Event, AJAX, 還是 Animation 等，我們都可以使用相同的 API做開發，並且同時保有很高的可讀性。
			li
				.issueTime  11:00
				h4.issueTopic 休息	
			li
				.issueTime 11:10
				h4.issueTopic 前端團隊奴的日常
					span.issueMore
						i.fa.fa-angle-up
				.issueDetail
					.issueSpeak
						span 講者
						span Aaron (小狂)
					.issueTopicIntro
						| 談前端部門的管理與經營，從技術導入、尋才面試、規範制定、教育訓練建立文化，以Developer的立場去理解成員的心境和處境，不只要面對程式，更要面對不同角色間的溝通與磨合。從只有三名前端工程師發展成十人以上前端團隊，一睹從百廢俱興到穩定發展的進化史。
			li
				.issueTime  12:00
				h4.issueTopic 休息
			li
				.issueTime 13:30
				h4.issueTopic Vue isomorphic
					span.issueMore
						i.fa.fa-angle-up
				.issueDetail
					.issueSpeak
						span 講者
						span Jacky810124
					.issueTopicIntro
						| Isomorphic （同構）讓前端和後端都使用同一份程式碼，聽起來好像不，到底有沒有這麼神？到底該如何做？這次透過 Vue 來讓大家搞懂什麼是Isomorphic 。
			li
				.issueTime  14:20
				h4.issueTopic 休息
			li 
				.issueTime 14:30
				h4.issueTopic Google Blockly 積木大解密
					span.issueMore
						i.fa.fa-angle-up
				.issueDetail
					.issueSpeak
						span 講者
						span Marty
					.issueTopicIntro
						| GoogleBlockly積木式編程，大幅度的降低了程式設計入學門檻，相信大家都很好奇Blockly 是如何藉由封裝實作細節，又能充分滿足擴充的需要 ! 講題將以Webduino Blockly 為例，剖析我們如何自訂積木，甚至一步步改造Blockly，成為 開發 IoT 的利器 ^^
			li
				.issueTime  15:20
				h4.issueTopic 下午茶交流時間
			li 
				.issueTime 15:50
				h4.issueTopic 網站規劃流程二三事
					span.issueMore
						i.fa.fa-angle-up
				.issueDetail
					.issueSpeak
						span 講者
						span Hsiang
					.issueTopicIntro
						| 本議程將會分享規劃網站的流程，從網站規劃與發想、UI 設計、前後端開、部屬整合等相關議題，同時也會介紹數種前後端輔助工具，加速開發效率。
			li
				.issueTime  16:40
				h4.issueTopic 閉幕