section.coorganizer
	.tab.greenDeco.yellowStyle
		.tab_h1 協辦單位
		.tab_sub Co-organizers
	.panel.coorganizer-panel
		img.col-lg-6.col-md-6.col-sm-6.col-xs-12(src="images/coorganizer/goodideasStudio.jpg",title="好想工作室")
		img.col-lg-6.col-md-6.col-sm-6.col-xs-12(src="images/coorganizer/hexschool.jpg",title="六角學院")
		img.col-lg-6.col-md-6.col-sm-6.col-xs-12(src="images/coorganizer/KSF2E.jpg",title="高雄前端社群")
		img.col-lg-6.col-md-6.col-sm-6.col-xs-12(src="images/coorganizer/madHatter.jpg",title="瘋帽客科技股份有限公司")
		a.col-lg-6.col-md-6.col-sm-6.col-xs-12(href="http://data.kcg.gov.tw/",title="高雄市政府資訊中心",target="_blank")
			img(src="images/coorganizer/opendata.jpg",title="高雄市政府資訊中心")