section.coorganizer
	.tab.pinkDeco 
		.tab_h1 協辦單位
		.tab_sub Co-organizer 
	.panel.coorganizer-panel
		img.col-lg-6.col-md-6.col-sm-6.col-xs-12(src="images/coorganizer/goodideasStudio.jpg")
		img.col-lg-6.col-md-6.col-sm-6.col-xs-12(src="images/coorganizer/hexschool.jpg")
		img.col-lg-6.col-md-6.col-sm-6.col-xs-12(src="images/coorganizer/KSF2E.jpg")
		img.col-lg-6.col-md-6.col-sm-6.col-xs-12(src="images/coorganizer/madHatter.jpg")