doctype html
html
	head
		block title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
		meta(name="description" content="由高雄前端社群發起，聯手六角學院、各路熱血志工，邀請各大前端技術領域講師，探討最新、最狂的前端議題!全程線上直播，現場不夠過癮，回去還可以再看錄影!")
		link(rel="image_src", href="images/ksf2e2017.jpg")
		link(rel="icon", href="images/logo/icon.ico")
		meta(property="og:site_name" content="高雄前端開發者大會")
		meta(property="og:title" content="高雄前端開發者大會")
		meta(property="og:image" content="http://www.ksf2e.com/images/ksf2e2017.jpg")
		meta(property="og:description" content="由高雄前端社群發起，聯手六角學院、各路熱血志工，邀請各大前端技術領域講師，探討最新、最狂的前端議題!全程線上直播，現場不夠過癮，回去還可以再看錄影!")
		meta(property="og:url" content="http://www.ksf2e.com/")
		meta(property="og:type" content="website")

	body
		.wrapper
			block header
			block content
	block scripts