//- section.speaker
//- 	.tab.pinkDeco.yellowStyle 
//- 		.tab_h1 講者
//- 		.tab_sub Speakers
//- 	ul.speakerContent
//- 		li.col-lg-4.col-md-4.col-sm-4.col-xs-12
//- 			.card
//- 				.pic(style="background-image:url(http://placekitten.com/640/480);")
//- 				h4.title Aaron (小狂)
//- 				p.text 
//- 					| 曾任職於外商軟體公司、手機遊戲公司，參與過數間新創公司和開發團隊，創辦逾千人的技術社群，舉辦數次技術研討會與實作課程。目前活躍於GitHub、CodePen、台北街頭、桃園路邊和咖啡館。
//- 				.info
//- 					a(href="#") 
//- 						i.fa.fa-facebook
//- 					a(href="#") 
//- 						i.fa.fa-github
//- 					a(href="#") 
//- 						i.fa.fa-external-link
//- 		li.col-lg-4.col-md-4.col-sm-4.col-xs-12
//- 			.card
//- 				.pic(style="background-image:url(http://placekitten.com/640/480);")
//- 				h4.title 喵
//- 				p.text 
//- 					| 通常指家貓，在現代漢語中多稱貓咪，為小型貓科動物，是為野貓（又稱貓；Felis silvestris）中的亞種[1，此外也有其它未經過《國際動物命名法規》認可的命名。
//- 				.info
//- 					a(href="#") Facebook
//- 					a(href="#") Github
//- 					a(href="#") Blog
//- 		li.col-lg-4.col-md-4.col-sm-4.col-xs-12
//- 			.card
//- 				.pic(style="background-image:url(http://placekitten.com/640/480);")
//- 				h4.title 喵喵喵
//- 				p.text 
//- 					| 通常指家貓，在現代漢語中多稱貓咪，為小型貓科動物，是為野貓（又稱貓；Felis silvestris）中的亞種[1，此外也有其它未經過《國際動物命名法規》認可的命名。
//- 				.info
//- 					a(href="#") Facebook
//- 					a(href="#") Github
//- 					a(href="#") Blog
//- 		li.col-lg-4.col-md-4.col-sm-4.col-xs-12
//- 			.card
//- 				.pic(style="background-image:url(http://placekitten.com/640/480);")
//- 				h4.title 喵喵喵
//- 				p.text 
//- 					| 通常指家貓，在現代漢語中多稱貓咪，為小型貓科動物，是為野貓（又稱貓；Felis silvestris）中的亞種[1，此外也有其它未經過《國際動物命名法規》認可的命名。
//- 				.info
//- 					a(href="#") Facebook
//- 					a(href="#") Github
//- 					a(href="#") Blog
//- 		li.col-lg-4.col-md-4.col-sm-4.col-xs-12
//- 			.card
//- 				.pic(style="background-image:url(http://placekitten.com/640/480);")
//- 				h4.title 喵喵喵
//- 				p.text 
//- 					| 通常指家貓，在現代漢語中多稱貓咪，為小型貓科動物，是為野貓（又稱貓；Felis silvestris）中的亞種[1，此外也有其它未經過《國際動物命名法規》認可的命名。
//- 				.info
//- 					a(href="#") Facebook
//- 					a(href="#") Github
//- 					a(href="#") Blog
//- 		li.col-lg-4.col-md-4.col-sm-4.col-xs-12
//- 			.card
//- 				.pic(style="background-image:url(http://placekitten.com/640/480);")
//- 				h4.title 喵喵喵
//- 				p.text 
//- 					| 通常指家貓，在現代漢語中多稱貓咪，為小型貓科動物，是為野貓（又稱貓；Felis silvestris）中的亞種[1，此外也有其它未經過《國際動物命名法規》認可的命名。
//- 				.info
//- 					a(href="#") Facebook
//- 					a(href="#") Github
//- 					a(href="#") Blog