section.speaker
		.tab.pinkDeco.yellowStyle 
			.tab_h1 講者
			.tab_sub Speakers
		ul.speakerContent
			li.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.card
					.pic(style="background-image:url(images/speaker/aaron.jpg);")
					h4.title Aaron (小狂)
					p.text 
						| 國中開始放棄課業成績自學程式語言，從此踏入Web 開發領域，是個帶點熱血又執著的前端攻城獅，曾任職於美商軟體公司、參與過數個新創團隊、舉辦數次技術研討會。
						| 目前於 Taroko Software 擔任工友，活躍於 GitHub、CodePen、台北和桃園巷弄裡的咖啡館。
					.info
						a(href="https://www.linkedin.com/in/aaronchuo/",target="_blank") Linkedin
						a(href="https://github.com/AaronChuo",target="_blank") Github
						a(href="https://www.facebook.com/crman1008",target="_blank") Facebook
						a(href="http://codepen.io/aaronchuo/",target="_blank") CodePen
			li.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.card
					.pic(style="background-image:url(images/speaker/hsiang.jpg);")
					h4.title Hsiang
					p.text 
						| 原設計出身、後轉前端工程師，目前擔任轉轉創意的製作經理。
					.info
						a(href="http://whalesingswee.co",target="_blank") Website
						a(href="https://github.com/whalesingswee",target="_blank") Github
						a(href="https://www.facebook.com/hsianglee",target="_blank") Facebook
			li.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.card
					.pic(style="background-image:url(images/speaker/jacky.jpg);")
					h4.title Jacky810124
					p.text 
						| 來自台南好想工作室的 Jacky ，是好想工作室的大夜班固定班底，也是個對有興趣的事物就會花大量時間去鑽研的技術宅。
					.info
						a(href="https://github.com/jacky810124",target="_blank") Github
						a(href="https://www.facebook.com/jacky810124",target="_blank") Facebook
			li.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.card
					.pic(style="background-image:url(images/speaker/jerryHong.jpg);")
					h4.title Jerry Hong
					p.text 
						| 第 8 屆 iT 邦幫忙鐵人賽 Modern Web 組冠軍 - 30 天精通 RxJS，默默無名的少年魔法師，常出現在魔法師大會中，專注於前端的相關法術。
					.info
						a(href="https://www.jerry-hong.com/",target="_blank") Website
						a(href="http://ithelp.ithome.com.tw/users/20103367/ironman/1199",target="_blank") iT 鐵人賽
			li.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.card
					.pic(style="background-image:url(images/speaker/lockChou.jpg);")
					h4.title Lock Chou
					p.text 
						| 高雄人，十年前端工程師，寄此身於 KKBOX 南部辦公室。 追求微小而確定的使用者互動，以改善使用者體驗為職志。
					.info
						a(href="https://www.linkedin.com/in/lock-chou-b248523a",target="_blank") Linkedin
			li.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.card
					.pic(style="background-image:url(images/speaker/martyHsu.jpg);")
					h4.title Marty
					p.text 
						| 慶奇科技創辦人，參與 Webduino 開源專案開發。
					.info
						a(href="https://webduino.io",target="_blank") Website