// position + opacity
.figure-position-01 {
    bottom: 40%;
    left: 5%;
}

.figure-position-02 {
    bottom: 20%;
    right: 40%;
}

.figure-position-03 {
    bottom: 15%;
    right: 30%;
    opacity: .7;
}

.figure-position-04 {
    bottom: 15%;
    left: 30%;
}

.figure-position-05 {
    top: 20%;
    left: 8%;
}

.figure-position-06 {
    top: 20%;
    right: 5%;
    opacity: .3;
}

.figure-position-07 {
    top: 15%;
    right: 30%;
    opacity: .6;
}

.figure-position-08 {
    bottom: 34%;
    left: 10%;
}

.figure-position-09 {
    bottom: 15%;
    right: 27%;
}

.figure-position-10 {
    bottom: 13%;
    left: 12%;
}

.figure-position-11 {
    top: 13%;
    left: 25%;
}

.figure-position-12 {
    top: 5%;
    right: 5%;
}

.figure-position-13 {
    top: 10%;
    right: 40%;
}

.figure-position-14 {
    bottom: 27%;
    right: 30%;
}

.figure-position-15 {
    bottom: 5%;
    left: 25%;
}

.figure-position-16 {
    bottom: 8%;
    left: 10%;
}

.figure-position-17 {
    bottom: 13%;
    left: 25%;
}

.figure-position-18 {
    bottom: 13%;
    left: 25%;
}

.figure-position-19 {
    bottom: 13%;
    left: 25%;
}

.figure-position-20 {
    bottom: 13%;
    left: 25%;
}

.figure-position-21 {
    bottom: 13%;
    left: 25%;
}

.figure-position-22 {
    bottom: 13%;
    left: 25%;
}

.figure-position-23 {
    bottom: 13%;
    left: 5%;
}

.figure-position-24 {
    top: 13%;
    left: 12%;
}
