.figureOuter {
    display: block;
    position: fixed;
    width: 100%;
    &:before {
        content: '';
        padding-top: 100vh;
        display: block;
    }
}

.figure {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    position: absolute;
    &:before {
        content: '';
        padding-top: 100%;
        display: block;
    }
    &.flare-01 {
        animation: flare 5s infinite alternate;
    }
    &.hop-01 {
        animation: hop 2s infinite alternate;
    }
    &.flare-02 {
        animation: flare 2s infinite alternate;
    }
    &.hop-02 {
        animation: hop 5s infinite alternate;
    }
    &.shiny-01 {
        animation: shiny 3s infinite alternate;
    }
}

.figure-earth {
    background-image: url(../images/figure/figure-earth.png);
    margin: auto;
    max-width: 30%;
    max-height: 50%;
    top: 60%;
    right: -10%;
    // bottom: 0;
    @include pad () {
        max-width: 40%;
        right: -15%;
    }
    @include pad-below () {
        max-width: 35%;
        right: -10%;
    }
    @include mobile() {
        max-width: 45%;
    }
}

.figure-planet-01 {
    background-image: url(../images/figure/figure-Planet-01.png);
    max-width: 12%;
    bottom: -10%;
    @include pad () {
        max-width: 15%;
        bottom: -10%;
        left: -5%;
    }
    @include pad-below () {
        max-width: 20%;
        bottom: 10%;
        left: -5%;
    }
    @include mobile () {
        max-width: 30%;
        bottom: 10%;
        left: -5%;
    }
}

.figure-planet-02 {
    background-image: url(../images/figure/figure-Planet-02.png);
    max-width: 4%;
    left: 30%;
    bottom: 15%;
    opacity: .5;
    @include pad () {
        max-width: 7%;
        bottom: 40%;
    }
    @include pad-below () {
        max-width: 8%;
        bottom: 20%;
    }
    @include mobile () {
        max-width: 10%;
        bottom: 40%;
    }
}

.figure-planet-03 {
    background-image: url(../images/figure/figure-Planet-03.png);
    max-width: 15%;
    left: -30px;
    bottom: -10%;
    opacity: .3;
    @include pad-below () {
        max-width: 25%;
    }
    @include mobile () {
        max-width: 32%;
        left: -30px;
        bottom: 0;
    }
}

.figure-planet-04 {
    background-image: url(../images/figure/figure-Planet-04.png);
    max-width: 12%;
    left: -30px;
    bottom: -60px;
}

.figure-planet-05 {
    background-image: url(../images/figure/figure-Planet-02.png);
    max-width: 15%;
    right: 0;
    top: 20px;
    opacity: .3;
    @include pad-below () {
        max-width: 30%;
    }
    @include mobile () {
        max-width: 35%;
        right: -11px;
        top: 10px;
    }
}

.figure-comet {
    background-image: url(../images/figure/figure-comet.png);
    max-width: 7%;
    right: 10%;
    top: 0;
    @include pad () {
        right: 5%;
        top: 5%;
    }
    @include pad-below () {
        max-width: 8%;
        right: 5%;
        top: 5%;
    }
    @include mobile () {
        max-width: 10%;
        right: 5%;
        top: 2%;
    }
}

.figure-star-01 {
    background-image: url(../images/figure/figure-star-01.svg);
}

.figure-star-02 {
    background-image: url(../images/figure/figure-star-02.svg);
}

.figure-star-03 {
    background-image: url(../images/figure/figure-star-03.svg);
}

.figure-star-04 {
    background-image: url(../images/figure/figure-star-04.svg);
}

.figure-star-05 {
    background-image: url(../images/figure/figure-star-05.svg);
}

.figure-star-06 {
    background-image: url(../images/figure/figure-star-06.svg);
}

.figure-star-07 {
    background-image: url(../images/figure/figure-star-07.svg);
}

.figure-star-08 {
    background-image: url(../images/figure/figure-star-08.svg);
}

.figure-star-09 {
    background-image: url(../images/figure/figure-star-09.svg);
}

// size
.figure-xl {
    max-width: 2em;
}

.figure-l {
    max-width: 1.5em;
}

.figure-m {
    max-width: 1em;
}

.figure-s {
    max-width: .8em;
}

.figure-xs {
    max-width: .5em;
}

// animation
@keyframes flare {
    0% {
        opacity: .2;
    }
    33% {
        opacity: .3;
    }
    100% {
        opacity: .1;
    }
}

@keyframes shiny {
    0% {
        opacity: .2;
    }
    60% {
        opacity: .5;
    }
    100% {
        opacity: .1;
    }
}

@keyframes hop {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
