.pic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:before {
        width: 100%;
        padding-top: 100%;
        content: '';
        display: block;
    }
}