.tab {
    position: relative;
    font-family: 'GenJyuuGothicX-Bold', 'cwTeXYen', $font-family-base;
    display: block;
    text-align: center;
    color: $colorMainFirst;
    &:before {
        content: '';
        display: inline-block;
        background-repeat: no-repeat;
        height: 4px;
        width: 20px;
    }
    &:after {
        border-radius: 10em;
        content: '';
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        margin-top: 5px;
        background-color: $colorMainFirst;
        height: 4px;
        width: 25px;
    }
    &.primaryDeco {
        &:before {
            background-image: url(../images/tab/tab_deco.png);
        }
    }
    &.yellowDeco {
        &:before {
            background-image: url(../images/tab/tab_deco-yellow.png);
        }
        &:after {
            background-color: $colorMainSecond;
        }
    }
    &.pinkDeco {
        &:before {
            background-image: url(../images/tab/tab_deco-pink.png);
        }
        &:after {
            background-color: $colorMainThird;
        }
    }
    &.yellowStyle {
        color: $colorMainSecond;
    }
    &.pinkStyle {
        color: $colorMainThird;
    }
}

.tab_h1 {
    font-size: 4rem;
    font-weight: bold;
}

.tab_sub {
    font-size: 1.5rem;
}
