extends ./layout/_layout.jade

block title
	title 高雄前端開發者大會
	link(rel="stylesheet", href="css/all.css")

block header
	section.star
		.figure.figure-earth
		.figure.figure-planet-01
		.figure.figure-planet-02
		.figure.figure-comet
		.figure.figure-star-01.hop-01.figure-position-01.figure-l
		.figure.figure-star-01.flare-01.figure-position-02.figure-m
		.figure.figure-star-01.hop-01.figure-position-03.figure-s
		.figure.figure-star-01.figure-position-04.figure-xs

		.figure.figure-star-02.hop-01.figure-position-05.figure-m
		.figure.figure-star-02.flare-01.figure-position-06.figure-m
		.figure.figure-star-02.hop-01.figure-position-07.figure-s
		.figure.figure-star-02.hop-02.figure-position-08.figure-xs

		.figure.figure-star-03.hop-01.figure-position-09.figure-xs
		.figure.figure-star-03.flare-01.figure-position-10.figure-xl
		.figure.figure-star-03.hop-01.figure-position-11.figure-m
		.figure.figure-star-03.figure-position-12.figure-l

		.figure.figure-star-04.hop-01.figure-position-13.figure-xs
		.figure.figure-star-04.flare-01.figure-position-14.figure-xs
		.figure.figure-star-04.hop-01.figure-position-15.figure-m
		.figure.figure-star-04.hop-01.figure-position-16.figure-xs		
	//- nav
	//- section.nav
	//- 	ul
	//- 		li 議程
	//- 		li 交通資訊
	//- 主視覺
	section.header.text-center
		.header_mainVisual
			.mainVisualPic
		a.btn.btn-primary(href="#",title="KKTIX 售票系統") KKTIX 售票系統
		p.info -活動尚未開始-

	//- 議程
	section.agenda
		.panel.agenda-panel
			.tab.primaryDeco 
				.tab_h1 議程
				.tab_sub Agenda
			.agendaContent.text-center
				ul
					li
						.issueTime
						h4.issueTopic 十年一覺前端夢
						.issueSpeak
							span 講者
							span kkbox lock
					li
						.issueTime 
						h4.issueTopic 用 RxJS 寫出可讀的程式碼
						.issueSpeak
							span 講者
							span Jerry Hong
					li
						.issueTime 
						h4.issueTopic 前端團隊管理
						.issueSpeak
							span 講者
							span Aaron (小狂)
					li
						.issueTime 
						h4.issueTopic Vue isomorphic
						.issueSpeak
							span 講者
							span Jacky 
					li 
						.issueTime 
						h4.issueTopic 如何自訂 Google Blockly 積木大解密
						.issueSpeak
							span 講者
							span Marty						
					li 
						.issueTime 
						h4.issueTopic 設計與前端的結合
						.issueSpeak
							span 講者
							span Hsiang Lee
block content
	//- 講者
	//- include ./layout/_speaker.jade
	section.speaker
		.tab.pinkDeco.yellowStyle 
			.tab_h1 講者
			.tab_sub Speakers
		ul.speakerContent
			li.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.card
					.pic(style="background-image:url(images/speaker/aaron.jpg);")
					h4.title Aaron (小狂)
					p.text 
						| 曾任職於外商軟體公司、手機遊戲公司，參與過數間新創公司和開發團隊，創辦逾千人的技術社群，	舉辦數次技術研討會與實作課程。目前活躍於GitHub、CodePen、台北街頭、桃園路邊和咖啡館。
					.info
						a(href="https://www.linkedin.com/in/aaronchuo/",target="_blank") Linkedin
						a(href="https://github.com/AaronChuo",target="_blank") Github
						a(href="https://www.facebook.com/crman1008",target="_blank") Facebook
						a(href="http://codepen.io/aaronchuo/",target="_blank") CodePen
			li.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.card
					.pic(style="background-image:url(images/speaker/hsiang.jpg);")
					h4.title Hsiang
					p.text 
						| 原設計出身、後轉前端工程師，目前擔任轉轉創意的製作經理。
					.info
						a(href="http://whalesingswee.co",target="_blank") Website
						a(href="https://github.com/whalesingswee",target="_blank") Github
						a(href="https://www.facebook.com/hsianglee",target="_blank") Facebook
			li.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.card
					.pic(style="background-image:url(images/speaker/jacky.jpg);")
					h4.title Jacky810124
					p.text 
						| 好想工作室 - 前端 mentor
					.info
						a(href="https://www.facebook.com/jacky810124",target="_blank") Facebook
			li.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.card
					.pic(style="background-image:url(images/speaker/jerryHong.jpg);")
					h4.title Jerry Hong
					p.text 
						| 第8屆 iT 邦幫忙鐵人賽 Modern Web 組冠軍 - 30 天精通 RxJS，默默無名的少年魔法師，常出現在魔法師大會中，專注於前端的相關法術默默無名的少年魔法師，常出現在魔法師大會中，專注於前端的相關法術。
					.info
						a(href="https://www.jerry-hong.com/",target="_blank") Website
						a(href="http://ithelp.ithome.com.tw/users/20103367/ironman/1199",target="_blank") iT 鐵人賽
			li.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.card
					.pic(style="background-image:url(images/speaker/lockChou.jpg);")
					h4.title Lock Chou
					p.text 
						| 高雄人，十年前端工程師，寄此身於 KKBOX 南部辦公室。 追求微小而確定的使用者互動，以改善使用者體驗為職志。
					.info
						a(href="https://www.linkedin.com/in/lock-chou-b248523a",target="_blank") Linkedin
			li.col-lg-4.col-md-4.col-sm-6.col-xs-12
				.card
					.pic(style="background-image:url(images/speaker/martyHsu.jpg);")
					h4.title Marty
					p.text 
						| 慶奇科技創辦人，參與 Webduino 開源專案開發。
					.info
						a(href="https://webduino.io",target="_blank") Website

	//- 協辦單位
	include ./layout/_coorganizer.jade

	//- 詳細資訊
	section.detail
		.tab.yellowDeco
			.tab_h1 詳細資訊
			.tab_sub Details
		.panel.detail-panel
			ul.detailContent.col-lg-4.col-md-4.col-sm-12.col-xs-12
				li
					h4.title 日期
					h4.text 2016/05/06 星期六
				li
					h4.title 地點
					h4.text 高醫國際會議中心 
						br
						| 國際學術研究大樓B2 &nbsp;
						a(href="images/map.jpg",target="_blank").tag Map
					a(href="https://www.google.com/maps?ll=22.645386,120.310215&z=12&t=m&hl=zh-TW&gl=US&mapclient=embed&q=807%E5%8F%B0%E7%81%A3%E9%AB%98%E9%9B%84%E5%B8%82%E4%B8%89%E6%B0%91%E5%8D%80%E5%8D%81%E5%85%A8%E4%B8%80%E8%B7%AF100%E8%99%9F",target="_blank").info
						i.fa.fa-map-marker.fa-2x
						| &nbsp; 807台灣高雄市三民區十全一路100號 &nbsp;
						i.fa.fa-external-link
				li 
					h4.title 交通資訊
					ul.detailContent_list
						li 
							| 距離火車高雄站後站出口約兩公里，車程約5分鐘
						li
							| 高鐵車站轉搭計程車約17分鐘，沿大中路於自由路右轉，於同盟路左轉
						li
							| 高捷後驛站出入口2搭乘紅29號公車至高醫站下車，班距10〜15分鐘，約需搭乘8分鐘
						li
							| 高捷後驛站二號出口轉乘建工幹線(紅30號)公車至高醫站下車，班距12~25分鐘，約需搭乘6分鐘
						li
							| 高捷後驛站二號出口轉乘高醫免費接駁車班距20〜25分鐘，約需搭乘8分鐘
						li 
							| 高捷後驛站二號出口左轉察哈爾街後直走到底，右轉接自由路直行，步行約15分鐘
						li
							| 高捷後驛站二號出口有公共自行車租賃系統，可憑信用卡或一卡通租借自行車騎乘前往，騎乘大約5分鐘
			.detailMap.col-lg-8.col-md-8.col-sm-12.col-xs-12
				iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d117864.1205277871!2d120.27714099999999!3d22.606997000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e04e515635045%3A0x4b611602b5a52af1!2zODA35Y-w54Gj6auY6ZuE5biC5LiJ5rCR5Y2A5Y2B5YWo5LiA6LevMTAw6Jmf!5e0!3m2!1szh-TW!2sus!4v1489664739901" width="100%" height="800" frameborder="0" style="border:0")
	section.footer
		.figure.figure-planet-03
		.figure.figure-planet-05
		.footerContent
			.about
				p 
					b
						| 全程高規格線上直播
				p 
					|現場不夠過癮，回去還可以再看錄影!
			a.btn.btn-primary.is-muted(href="#",title="KKTIX 售票系統") KKTIX 售票系統
			p.info -活動尚未開始-
			.footerContent_contact
				img(src="images/logo/logo.png")
				a(herf="#").fa.fa-facebook-square.fa-lg
				a(herf="#").fa.fa-comments.fa-lg
				p.info © 2017 高雄前端社群

block scripts
	script(src="plugin/jquery.min.js")
	script(src="js/all.js")