section.figureOuter
	.figure.figure-earth
	.figure.figure-planet-01
	.figure.figure-planet-02
	.figure.figure-comet
	//- A
	.figure.figure-star-02.flare-01.figure-positionA-01.figure-m
	.figure.figure-star-05.shiny-01.figure-positionA-02.figure-xs
	.figure.figure-star-01.figure-positionA-03.figure-l
	.figure.figure-star-09.flare-01.figure-positionA-04.figure-xs
	//- B
	.figure.figure-star-01.flare-01.figure-positionB-01.figure-m
	.figure.figure-star-05.hop-01.figure-positionB-02.figure-s
	.figure.figure-star-09.figure-positionB-03.figure-xs
	.figure.figure-star-07.flare-01.figure-positionB-04.figure-xs
	//- C
	.figure.figure-star-01.hop-01.figure-positionC-01.figure-l
	.figure.figure-star-08.shiny-01.figure-positionC-02.figure-xs
	.figure.figure-star-02.hop-02.figure-positionC-03.figure-s
	.figure.figure-star-03.flare-02.figure-positionC-04.figure-xl
	.figure.figure-star-04.hop-01.figure-positionC-05.figure-m
	//- D
	.figure.figure-star-02.hop-01.figure-positionD-01.figure-m
	.figure.figure-star-04.hop-01.figure-positionD-02.figure-m
	.figure.figure-star-09.figure-positionD-03.figure-xs