.footer_figureOuter
	//- A
	.figure.figure-star-01.flare-01.figure-positionA-05.figure-m
	.figure.figure-star-03.figure-positionA-06.figure-l
	.figure.figure-star-07.flare-01.figure-positionA-07.figure-xs
	.figure.figure-star-04.shiny-01.figure-positionA-08.figure-xs			
	//- B
	.figure.figure-star-01.flare-01.figure-positionB-05.figure-m
	.figure.figure-star-06.shiny-01.hop-01.figure-positionB-06.figure-s
	.figure.figure-star-02.figure-positionB-07.figure-m
	.figure.figure-star-09.flare-01.figure-positionB-08.figure-xs
	//- C
	.figure.figure-star-01.hop-01.figure-positionC-06.figure-l
	.figure.figure-star-09.shiny-01.figure-positionC-07.figure-xs
	.figure.figure-star-02.hop-02.figure-positionC-08.figure-s
	//- D
	.figure.figure-star-03.hop-01.figure-positionD-04.figure-m
	.figure.figure-star-04.hop-01.figure-positionD-05.figure-m
	.figure.figure-star-08.figure-positionD-06.figure-xs
	.figure.figure-star-04.figure-positionD-07.figure-s
	.figure.figure-planet-03
	.figure.figure-planet-05