// *********************************************
// 
// Typography
// 
// *********************************************
$font-family-base: Arial,
Geneva,
'Microsoft JhengHei',
sans-serif;
$font-size-base: 14px;
$font-larger: 1.5rem;
$font-large: 1.2rem;
$font-normal: 1rem;
$font-small: 0.857142rem; // 12px
// *********************************************
// 
// Color
// 
// *********************************************
$colorMainFirst:#2a1672;
$colorMainSecond:#ffdf3c;
$colorMainThird:#ff4f94;
$colorMainFouth:#24ffb0;
$colorMainFirst-light:#EED9FF;
$colorMainFouth-dark:#08cd86;
$colorSubFirst:#39006c;
$bgcolor: $colorMainFirst;
$color: #383838;
$colorGray:#9B9B9B;
$colorGray-light:#d8d8d8;
$colorGradientFirst:#461d87;
$colorGradientSecond:#221938;
// $color-muted
// $color-primary
// $color-success
// $color-info
// $color-notice
// $color-alert
// $color-warning
// $color-danger
// *********************************************
// 
// 
// 
// *********************************************
